<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FactoryUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F8051391EA070F5002A4FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F8051521EA070F6002A4FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F80515D1EA070F6002A4FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
